userinfoの画面
userinfo edit

<% @books.each do |book| %>
<div>
  <p>画像</p>
  <p>名前：<%= book.user.name%></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>

</div>
<% end %>

<h1>New book</h1>
<%= form_with model: @book, local:true do |f| %>
  <h4>New book</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>