<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <!--devise側で用意しているヘルパー-->
    <!--ログイン済みならばtrueが、ログインしていなければfalseが返されます-->
      <li>
      <%= link_to "Home", root_path %>
      </li>

      <li>
      <%= link_to 'Users', user_path(current_user.id) %>
      </li>

      <li>
        Books
      </li>

      <li>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
        <!--method: :deleteでdestroy_user_session_pathへルーティングさせることでログアウト-->
      </li>
    <% else %>
      <li>
        <%= link_to "Home", root_path %>
      </li>

      <li>
        <%= link_to "About", "/home/about" %>
      </li>

      <li>
        <%= link_to "sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "logout", new_user_session_path %>
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>

